
.container {
    position: fixed;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 50vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
    }
    .city-block{
      width: 90vw;
      height: 45vw;
      background: white;
      color: black;
      display: flex;
      flex-direction: column;
      border-radius: 4vw;
    }
    
    .zb7-text{
      margin-left: 6vw;
      margin-top: -2vw;
      font-size: 4vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
    
    .citys{
      display: flex;
      margin-top: 2vw;
      margin-left: 6.2vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 1vw;
    }
    
    .city-list{
      margin-left: 11.5vw;
    }
    
    #close-btn{
      margin-top: 1vw;
      margin-left: 86vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 2.3vw;
      cursor: pointer;
      z-index: 100;
    }

  
  @media (max-width: 1024px) {
    .container {
      position: fixed;
      top: -6vw;
      left: 0vw;
      width: 100vw;
      height: 267vw;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 200;
      white-space: nowrap; /* Убираем перенос строк */
    }
  
    .city-block {
      width: 90vw;
      height: 212vw;
      background: white;
      flex-direction: column;
      border-radius: 10vw;
      display: inline-block; /* Чтобы элементы были расположены в строку */
      margin-right: 10px; /* Расстояние между элементами */
      padding: 10px; /* Внутренний отступ */
      border: 1px solid #ccc; /* Для визуального разделения */
    }
  
    #close-btn {
      margin-top: 3vw;
      margin-left: 76vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 9.3vw;
    }
  
    .zb7-text {
      margin-left: 6vw;
      margin-top: 2vw;
      font-size: 5.5vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
  
    .citys {
      overflow-x: auto; /* Включаем горизонтальный скролл */
      display: flex;
      margin-top: 3vw;
      margin-left: 2.5vw;    ;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 5.3vw;
    }
  
    .city-list{
      margin-left: 28.5vw;
    }
  
  }
  
    