* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Для корректной работы с размерами элементов */
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Убираем горизонтальную прокрутку */
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #333;
  }


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.logo {
  height: 5vw;
}

.calculate-btn {
  padding: 0px 20px;
  background-color: #e6e6e6;
  width: 23vw;
  height: 4vw;
  color: black;
  border: none;
  border-radius: 3.5vw;
  cursor: pointer;
  font-size: 1.8vw;
  font-weight: 500;
  font-family: 'Montserrat';
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calculate-btn:hover {
  background-color: #2c2c2c;
  color: white;
}

main {
  position: relative;
  padding: 25px;
  background-image: url('images/main.png'); /* Устанавливаем фоновое изображение */
  background-size: cover; /* Масштабируем изображение, чтобы оно покрывало весь блок */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Убираем повторение изображения */
  min-height: 60vw; /* Устанавливаем минимальную высоту для main */
  margin-top: -11vw;
  z-index: -10;
}

.main-image {
  width: 100%;
  height: auto; /* Высота будет зависеть от пропорций изображения */
  object-fit: cover;
  position: relative; /* Изображение остается в потоке документа */
}

.order {
  position: relative; /* Устанавливаем относительное позиционирование для order */
  margin: 5% auto;
  padding: 1%;
  background-color: #e6e6e6;
  border-radius: 3.5vw;
  color: black;
  width: 45vw;
  height: 60vh;
  margin-top: 17vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order h1 {
  margin-top: 10px;
  margin-bottom: 3.5vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 3vw;
  text-align: center;
}

.order p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2vw;
  margin-bottom: 5vw;
  color: #333;
  text-align: justify;
  display: flex;
  justify-content: center;
}

.line {
  border: 1px solid #333;
  margin: 30px auto; /* Увеличиваем отступы сверху и снизу */
  width: 80%; /* Линия занимает 80% ширины секции */
}

.order .order-btn {
  display: block;
  margin: 30px auto; /* Центрируем кнопку по горизонтали */
  padding: 1vw 1vw; /* Внутренние отступы кнопки */
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw; /* Размер текста кнопки */
  font-weight: 500;
  background-color: #e6e6e6;
  border: 2px solid #333;
  border-radius: 3.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order .order-btn:hover {
  background-color: #2c2c2c;
  color: white;
}



.order, .about-us, .where-we-work {
  overflow: hidden; /* Убираем возможные переполнения */
}

.where-we-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15vw ;
  padding: 20px;
  background-color: #444;
  width: 99vw;
  height: 15vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

.where-we-work-content {
  width: 50%;
  text-align: left;
}

.where-we-work h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7vw;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.where-we-work p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.5;
  text-align: justify;
  margin-top: 25px;
  margin-left: 300px;
  font-size: 1.45rem;
  font-weight: 300;
}

.more-info-btn {
  display: inline-block;
  padding: 1vw 2vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw;
  font-weight: 500;
  background-color: #e6e6e6;
  color: black;
  border: none;
  border-radius: 3.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.more-info-btn:hover {
  background-color: #2c2c2c;
  color: white;
}

.where-we-work-image {
  width: 35%;
  filter: brightness(70%);
  border-radius: 3.5vw 0vw 0vw 3.5vw;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-right: -100px;
}

.why-choose-us {
  margin-left: 50%; /* Для ПК текст остается справа */
  margin-right: 20%;
  margin-top: 0vw;
  position: relative;
  padding: 20px;
  background-color: #444;
  border-radius: 0 0 50px 50px;
  width: 45vw;
  height: 30vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: center; /* Центрируем текст по умолчанию */
}

.why-choose-us h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2vw;
  font-weight: 700;
  color: white;
  margin-bottom: 4vw;
}


.why-choose-us-content {
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  align-items: center;
  justify-content: center;
}

.why-choose-us-image {
  width: 80%;
  border-radius: 3.5vw;
  filter: brightness(70%);
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: -43%;
  top: 30%;
}

.why-choose-us-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.85vw;
  font-weight: 400;
  color: white;
  line-height: 2;
  text-align: center; /* Центрируем текст списка */
  margin-top: 0vw;
}

.why-choose-us-list li {
  margin-bottom: 1.5vw;
  text-align: left;
  margin-left: 10vw;
}

.tarrif-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2vw;
  font-weight: 700;
  color: white;
  width: 40vw;
  background: #2c2c2c;
  border-radius: 0vw 1.7vw 1.7vw 0vw;
  height: 7vw;
  padding: 20px;
  text-align: center;
}

.tarrif-header h2 {
  margin-left: 20vw;
  padding: 0;
  color: white;
  margin-top: auto;
}

.tariffs {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin-top: 10%;
  padding: 0px;
  text-align: center;
}

.tariffs-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 37vw;
  background: #1d1d1d;
  border-radius: 3.5vw;
  width: 80vw;
  height: 5vw;
  margin-bottom: 0px;
  margin-left: 10vw;
}

.tariff-item {
  width: 23vw; /* Ширина элемента */
  height: 4vw;
  margin: 1vw;
  margin-top: -3.5vw;
  padding: 1.1vw;
  background-color: #393939;
  border-radius: 3.5vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
}

.tariff-item h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
  color: #ffffff;
}

.tariffs-image {
  width: 100vw;
  height: 43vw;
  object-fit: cover;
  object-position: center;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: -46vw;
  z-index: -1;
  position: absolute;
  top: 49.5vw;  /* Сдвигает вниз на 20px от исходной позиции */
  left: 0vw;
}

/* Адаптация для телефонов */
@media (max-width: 768px) {
  body {
    font-size: 14px; /* Уменьшаем общий размер текста */
  }

  main {
    position: relative; /* Устанавливаем относительное позиционирование для main */
    padding: 20px;
  }

  header {
    flex-direction: column; /* Размещаем элементы в колонку */
    align-items: center;
    text-align: center;
  }

  .logo {
    height: 70px; /* Уменьшаем размер логотипа */
  }

  .calculate-btn {
    width: auto; /* Кнопка занимает ширину контента */
    margin-top: 10px; /* Добавляем отступ сверху */
  }

  .order {
    width: 100%; /* Растягиваем блок на всю ширину */
    height: auto; /* Высота подстраивается под контент */
    margin: 20px 0;
    padding: 20px;
  }

  .order h1 {
    font-size: 1.8rem; /* Уменьшаем размер заголовка */
    margin-top: 15px;
  }

  .order p {
    font-size: 1.2rem; /* Уменьшаем размер текста */
  }

  .where-we-work {
    margin-left: 0; /* Убираем смещение вправо */
    padding: 10px;
  }

  .where-we-work h2 {
    font-size: 1.8rem; /* Уменьшаем размер заголовка */
  }

  .where-we-work p {
    margin-left: 0; /* Убираем отступ слева */
    font-size: 1rem; /* Уменьшаем размер текста */
  }

  .more-info-btn {
    width: 100%; /* Кнопка занимает всю ширину */
    padding: 10px;
  }

  footer {
    flex-direction: column; /* Размещаем элементы в колонку */
    text-align: center;
  }

  footer ul {
    padding: 0;
  }

  footer p {
    margin-top: 20px;
  }

  .why-choose-us {
    margin: 0 auto; /* Центрируем блок */
    width: 100%; /* Блок занимает всю ширину */
    padding: 10px; /* Уменьшаем внутренние отступы */
    border-radius:  0 0 20px 20px;
    max-height: 350px; /* Ограничиваем максимальную высоту */
  }

  .why-choose-us-image {
    width: 45%;
    filter: brightness(70%);
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-right: -100px;
  }

  .why-choose-us h2 {
    font-size: 1.8rem; /* Уменьшаем размер заголовка */
    margin-bottom: 10px; /* Уменьшаем отступ снизу */
  }

  .why-choose-us-list {
    font-size: 1rem; /* Уменьшаем размер текста списка */
    line-height: 1.5; /* Уменьшаем межстрочный интервал */
    margin-left: 0; /* Убираем смещение списка */
  }

  .why-choose-us-list li {
    margin-bottom: 8px;
    margin-left: 0;
  }

  .tarrif-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
    width: 100%;
    background: #2c2c2c;
    border-radius: 0;
    height: 150px;
    text-align: right;
  }
  
  .tarrif-header h2 {
    margin-top: 25%;
    padding: 20px;
    color: white;
    margin-right: 50px;
  }

}


@media (max-width: 1024px) {
  body {
    font-size: 14px; /* Уменьшаем общий размер текста */
  }

  main {
    position: relative; /* Устанавливаем относительное позиционирование для main */
    padding: 20px;
  }
  
  .order {
    width: 95%; /* Растягиваем блок почти на всю ширину */
    margin: 10px auto; /* Центрируем блок */
  }

  .calculate-btn {
    width: auto; /* Кнопка занимает ширину контента */
  }

  .where-we-work {
    margin-left: 0; /* Убираем смещение */
    padding: 10px;
  }

  .why-choose-us {
    margin: 0 auto;
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    max-height: 350px;
    border-radius: 0 0 20px 20px;
  }

  .where-we-work-image {
    width: 40%;
    filter: brightness(70%);
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-right: -100px;
  } 
  .why-choose-us-image {
    width: 100%;
    max-height: 120px;
    border-radius: 30px;
    filter: brightness(70%);
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: -20%;
    top: 115%;
  }

  .why-choose-us h2 {
    font-size: 1.6rem;
    margin-bottom: 35px;
    margin-top: 20px;
    text-align: center;
}

  .why-choose-us-content {
    flex-direction: column; /* Размещаем элементы в колонку */
    align-items: center;
    justify-content: center;
  }

  .why-choose-us-list {
    font-size: 1.2rem; /* Уменьшаем размер текста списка */
    line-height: 1.8; /* Уменьшаем межстрочный интервал */
    text-align: center; /* Центрируем текст */
    margin-left: 0; /* Убираем смещение списка */
  }

  .why-choose-us-list li {
    margin-bottom: 10px;
    margin-left: auto;
    text-align: left;
}

  .where-we-work h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
  }

  .more-info-btn {
    display: inline-block;
    padding: 15px 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #e6e6e6;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}